body{
  background-color: black;
}
.mainContainer {
  text-align: center;
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  padding-top: 45px;
}
.mainContainer h2{
  font-family: 'Rationale', sans-serif;
  font-size: 3em;
  margin-bottom: 0px;
}
.mainContainer h4{
  font-family: 'Rationale', sans-serif;
  font-size: 1em;
  margin-top: 0px;
}
img{
  width:97%;
  height:auto;
}
button{
border-radius: 7px;
height: 30px;
width:80px;
font-family: 'Basic', sans-serif;
background-color: white;
font-size: 19px;
}

/* font-family: 'Passero One', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Basic', sans-serif; */
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import url('https://fonts.googleapis.com/css?family=Basic|Passero+One|Rationale');
