#submitButton{
  background-color: white;
  color: black;
  bottom: 23px;
  position: relative;
}

TimeInputContainer input{
  width:4px;
  color: blue;
}
.mainUrl{
  position: relative;
  bottom:.2px;
}
